export(figshare_auth)
export(figshare_author)
export(figshare_author_search)
export(figshare_category)
export(figshare_create)
export(figshare_create_author)
export(figshare_delete)
export(figshare_details)
export(figshare_link)
export(figshare_private)
export(figshare_public)
export(figshare_tag)
export(figshare_update)
export(figshare_upload)
import(RJSONIO)
import(httr)
